{% extends 'base.html' %}
{% load static %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo: Deatil view</title>
</head>
<body>
    <h1>Task Item</h1>
    <div>

    <p>Title: {{ task.title }}</p>
    <p>Description: {{ task.description }}</p>
    <p>Completed: {{ task.status }}</p>
    <p>Due: {{ task.due_date }}</p>

    </div>
    <p><a href="{% url 'update' task.id %}">Update Task</a></p>
    <p><a href="{% url 'delete' task.id %}">DeleteTask</a></p>
   <p><a href="{% url 'list'%}">Back to task list</a></p> 

   {% endblock content %}
    
